/* Typography */
:root {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 100%;
}

@media screen and (min-width: 840px),
screen and (min-height: 840px) {
    :root {
        font-size: 107%;
    }
}

@media screen and (max-width: 600px),
screen and (max-height: 600px) {
    :root {
        font-size: 92.8%;
    }
}

h1,
.md-display-l {
    font-weight: 500;
    line-height: 4rem;
    font-size: 3.6rem;
    letter-spacing: 0;
    font-stretch: semi-expanded;
}

h2,
.md-display-m {
    font-weight: 500;
    line-height: 3.25rem;
    font-size: 2.8125rem;
    letter-spacing: 0;
    font-stretch: semi-expanded;
}

h3,
.md-display-s {
    font-weight: 500;
    line-height: 2.75rem;
    font-size: 2.25rem;
    letter-spacing: 0;
    font-stretch: semi-expanded;
}

h4,
.md-headline-l {
    font-weight: 500;
    line-height: 2.5rem;
    font-size: 2rem;
    letter-spacing: 0;
    font-stretch: semi-expanded;
}

h5,
.md-headline-m {
    font-weight: 500;
    line-height: 2.25rem;
    font-size: 1.75rem;
    letter-spacing: 0;
    font-stretch: semi-expanded;
}

h6,
.md-headline-s {
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-stretch: semi-expanded;
}

.md-title-l {
    font-weight: 600;
    line-height: 1.75rem;
    font-size: 1.375rem;
    letter-spacing: 0;
    font-stretch: semi-expanded;
}

.md-title-m {
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: .009375rem;
    font-stretch: semi-expanded;
}

.md-title-s,
.md-label-l {
    font-weight: 600;
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .00625rem;
    font-stretch: semi-expanded;
}

.md-label-m {
    font-weight: 600;
    line-height: 1rem;
    font-size: .75rem;
    letter-spacing: .03125rem;
    font-stretch: semi-expanded;
}

.md-label-s {
    font-weight: 600;
    line-height: 1rem;
    font-size: .6875rem;
    letter-spacing: .03125rem;
    font-stretch: semi-expanded;
}

p,
.md-body-l {
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: .03125rem;
}

.md-body-m {
    font-weight: 400;
    line-height: 1.5rem;
    font-size: .875rem;
    letter-spacing: .015625rem;
}

.md-body-s {
    font-weight: 400;
    line-height: 1rem;
    font-size: .75rem;
    letter-spacing: .025rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 1rem 1rem;
}

p {
    margin: 1rem;
}

.material-symbols-rounded {
    font-size: 1.4rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

/* Shape */
:root {
    --md-shape-corner-xs: .25rem;
    --md-shape-corner-xs-top: .25rem .25rem 0 0;
    --md-shape-corner-s: .5rem;
    --md-shape-corner-m: .75rem;
    --md-shape-corner-l: 1rem;
    --md-shape-corner-l-end: 0 1rem 1rem 0;
    --md-shape-corner-l-top: 1rem 1rem 0 0;
    --md-shape-corner-xl: 1.75rem;
    --md-shape-corner-xl-top: 1.75rem 1.75rem 0 0;
    --md-shape-corner-full: 5rem;
}