.md-elevated-button,
.md-filled-button,
.md-filled-tonal-button,
.md-outlined-button,
.md-text-button {
    border: none;
    font-family: 'Roboto Flex', sans-serif;
    height: 2.5rem;
    border-radius: var(--md-shape-corner-full);
    padding: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
}

.md-button__icon {
    font-size: 1.1rem;
    margin: 0 .5rem 0 1rem;
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

.md-button__label {
    margin: 0 1.5rem;
}

.md-button__icon+.md-button__label {
    margin-left: 0;
}

[dir=rtl] .md-button__icon {
    margin: 0 1rem 0 .5rem;
}

[dir=rtl] .md-button__icon+.md-button__label {
    margin-right: 0;
    margin-left: 1.5rem;
}

/* Elevated buttons */
.md-elevated-button {
    background: var(--md-color-surface);
    box-shadow: 0px 1px 3.5px -2px black;
    color: var(--md-color-primary);
}

.md-elevated-button::before {
    background: var(--md-color-primary);
    opacity: 5%;
}

.md-elevated-button:hover::before {
    opacity: 8%;
}

.md-elevated-button:active::before {
    opacity: 11%;
}

/* Filled buttons */
.md-filled-button {
    background: var(--md-color-primary);
    color: var(--md-color-on-primary);
}

.md-filled-button:hover::before {
    background: var(--md-color-on-primary);
    opacity: 5%;
}

.md-filled-button:active::before {
    opacity: 8%;
}

/* Filled tonal buttons */
.md-filled-tonal-button {
    background: var(--md-color-secondary-container);
    color: var(--md-color-on-secondary-container);
}

.md-filled-tonal-button:hover::before {
    background: var(--md-color-on-secondary-container);
    opacity: 5%;
}

.md-filled-tonal-button:active::before {
    opacity: 8%;
}

/* Outlined & Text buttons */
.md-outlined-button,
.md-text-button {
    background: var(--md-color-surface);
    color: var(--md-color-primary);
}

.md-outlined-button {
    outline: 1px solid var(--md-color-outline);
}

.md-outlined-button:hover::before,
.md-text-button:hover::before {
    background: var(--md-color-primary);
    opacity: 5%;
}

.md-outlined-button:active::before,
.md-text-button:active::before {
    opacity: 8%;
}

.md-text-button .md-button__label {
    margin: 0 .75rem;
}

.md-text-button .md-button__icon {
    margin: 0 .5rem 0 .75rem;
}

.md-text-button .md-button__icon+.md-button__label {
    margin-left: 0;
}

.md-text-button[dir=rtl] .md-button__icon {
    margin: 0 .75rem 0 .5rem;
}

.md-text-button[dir=rtl] .md-button__icon+.md-button__label {
    margin-right: 0;
    margin-left: 1rem;
}

/* Disabled buttons */
.md-elevated-button:disabled,
.md-filled-button:disabled,
.md-filled-tonal-button:disabled {
    background: var(--md-color-surface);
    color: var(--md-color-on-surface);
    opacity: 38%;
    box-shadow: none;
}

.md-outlined-button:disabled,
.md-text-button:disabled {
    background: var(--md-color-surface);
    color: var(--md-color-on-surface);
    opacity: 38%;
}

.md-elevated-button:disabled::before,
.md-filled-button:disabled::before,
.md-filled-tonal-button:disabled::before {
    background: var(--md-color-on-surface);
    opacity: 12%;
}

.md-outlined-button:disabled::before,
.md-text-button:disabled::before {
    background: var(--md-color-surface);
    opacity: 12%;
}