.md-icon-button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: var(--md-shape-corner-full);
    border: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}

.md-icon-button .md-icon-button__icon {
    color: var(--md-color-on-surface-variant);
    font-size: 1.5rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

.md-icon-button--selected .md-icon-button__icon {
    color: var(--md-color-primary);
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

.md-icon-button:hover:not(:disabled)::before {
    background: var(--md-color-on-surface-variant);
    opacity: 5%;
}

.md-icon-button:active:not(:disabled)::before {
    opacity: 8%;
}

.md-icon-button--selected:hover:not(:disabled)::before {
    background: var(--md-color-primary);
}

/* Disabled icon button */
.md-icon-button:disabled {
    background: var(--md-color-surface);
    opacity: 38%;
    box-shadow: none;
}

.md-icon-button:disabled .md-icon-button__icon {
    color: var(--md-color-on-surface);
}